<section class="home-partner section-padding create-new">
    <div class="flex-custom d-flex space-b flex-wrap">
        <div class="home-partner-child tab-hidden-images create-new-child">
            {% render 'image-snippet', image: section.settings.image %}
        </div>
        <div class="home-partner-child create-new-child">
            <div class="section-bar-partners"> </div>
            {% if section.settings.heading != blank %}
                <h2> {{ section.settings.heading }} </h2>                    
            {% endif %}
            <div class="home-partner-child desktop-hidden-images">
                {% render 'image-snippet', image: section.settings.image_1 %}
            </div>
            <!-- <img class="desktop-hidden-images" src="./assets/visuals/tab-image-1.png" alt="*"> -->
            {% if section.settings.richttext != blank %}
                <p> {{ section.settings.richttext }} </p>
            {% endif %}
            {% if section.settings.button_text_1 != blank %}                
                <a class="primary-btn" href="{{ section.settings.button_url_1 | default : "#." }}"> {{ section.settings.button_text_1 }} </a>
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Looking Something New",
    "settings": [
        {
            "type": "html",
            "id": "heading",
            "label": "Heading",
            "default": "<span>Looking to Create </span> Something New?"
        },
        {
            "type": "inline_richtext",
            "id": "richttext",
            "label": "Text",
            "default": "outh Bay International can create custom sleep brands for your business, while handling all of your fulfillment and customer service needs!"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "button_text_1",
            "label": "Button Text",
            "default": "Let’s Innovate!"
        },
        {
            "type": "url",
            "id": "button_url_1",
            "label": "Button URL"
        }
    ],
    "presets": [
        {
            "name": "Looking Something New"
        }
    ]
}
{% endschema %}