<!-- Product Hero Section -->
<section class="product-hero-section">
    <div class="container">
        <h2 class="prodcut-hero-heading"> {{ collection.title }} </h2>
    </div>
</section>

{% schema %}
    {
        "name": "Collection Banner",        
        "settings": [
        
        ]
    }
{% endschema %}
