<!-- Innovate Main Section -->
<section class="home-expertise innovation-main-sec section-padding">
    <div class="d-flex space-b a-start flex-wrap">
        <div class="expertise-child">
            <div class="yellow-bar inner-div-bar"></div>
            <h2><span>You’re in the Right</span><br> Company to Innovate </h2>
            <p>At South Bay International, the sky is the limit when it comes to creating a more
                restful, rejuvenating night’s sleep. With our team of researchers and designers, you’re
                in the right company to innovate the sleeping solutions of your dreams.</p>
        </div>
        <div class="expertise-child">
            <img src="./assets/visuals/innovate-main-sec.png" alt="Expertise">
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Innovation Text",        
        "settings": [
        
        ],
        "presets": [
            {
                "name": "Innovation Text"
            }
        ]
    }
{% endschema %}