<!-- Innovation Features -->
<section class="innovation-features section-padding">
    <div class="container d-flex flex-wrap a-start space-b row-gap-69">
        <div class="innovation-features-child d-flex f-col a-center">
            <img class="innovate-feature-child-icon" src="./assets/visuals/light-bulb-icon.svg"
                alt="Feature-Icon">
            <p class="innovate-feature-child-text">We create cutting-edge, technology-supported products and
                reserve award-winning patents to keep up with industry trends</p>
        </div>
        <div class="innovation-features-child d-flex f-col a-center">
            <img class="innovate-feature-child-icon" src="./assets/visuals/yellow-search-icon.svg"
                alt="Feature-Icon">
            <p class="innovate-feature-child-text">From raw materials to the finished product, we take
                ownership in every step of the manufacturing process for the highest quality control</p>
        </div>
        <div class="innovation-features-child d-flex f-col a-center">
            <img class="innovate-feature-child-icon" src="./assets/visuals/globe-icon.svg"
                alt="Feature-Icon">
            <p class="innovate-feature-child-text">We have one of the world’s largest mattress and
                adjustable base factories with 755,000+ square feet of warehouse space</p>
        </div>
        <div class="innovation-features-child d-flex f-col a-center">
            <img class="innovate-feature-child-icon" src="./assets/visuals/warehouse-icon.svg"
                alt="Feature-Icon">
            <p class="innovate-feature-child-text">As your domestic mattress and vertically integrated
                adjustable base manufacturing partner, we offer nationwide B2B, B2C and DTC dropship
                capabilities</p>
        </div>
        <div class="innovation-features-child">
            <img class="innovate-feature-child-icon" src="./assets/visuals/truck-icon.svg"
                alt="Feature-Icon">
            <p class="innovate-feature-child-text">Customer convenience is a priority, which is why we offer
                white glove delivery and in-home setup options and quick delivery via Fed-Ex or UPS</p>
        </div>
        <div class="innovation-features-child d-flex f-col a-center">
            <img class="innovate-feature-child-icon" src="./assets/visuals/handshake-icon.svg"
                alt="Feature-Icon">
            <p class="innovate-feature-child-text">Our customers are our number one priority. We prioritize
                relationships through nationwide customer service and end-user support</p>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Innovation Features",        
        "settings": [
        
        ],
        "presets": [
            {
                "name": "Innovation Features"
            }
        ]
    }
{% endschema %}