<!-- Innovation Features -->
<section class="innovation-features section-padding">
    <div class="container d-flex flex-wrap a-start space-b row-gap-69">
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'item' %}
                    {% if block.settings.text != blank %}
                        <div class="innovation-features-child d-flex f-col a-center">                            
                                {% render 'image-snippet', image: block.settings.image, class: 'innovate-feature-child-icon' %}
                            <p class="innovate-feature-child-text"> {{ block.settings.text }} </p>
                        </div>
                    {% endif %}
            {% endcase %}
        {% endfor %}
    </div>
</section>


{% schema %}
    {
        "name": "Innovation Features",        
        "settings": [],
        "blocks": [
            {
                "type": "item",
                "name": "Feature",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "text",
                        "label": "Text",
                        "default": "We create cutting-edge, technology-supported products and reserve award-winning patents to keep up with industry trends"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Innovation Features"
            }
        ]
    }
{% endschema %}