<section class="privacy-service-section">
    <div class="container">
        <div class="privacy-service-main">
            {{ page.content }}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Content",
    "settings": []
}
{% endschema %}