<section class="home-partner section-padding sustainable-future-section">
    <div class="container">
        <div class="flex-custom d-flex space-b flex-wrap">
            <div class="home-partner-child tab-hidden-images sustainable-future-child">
                {% render 'image-snippet', image: section.settings.image %}
            </div>
            <div class="home-partner-child sustainable-future-child">
                <div class="section-bar-partners"> </div>
                {% if section.settings.heading != blank %}
                    <h2> {{ section.settings.heading }} </h2>                    
                {% endif %}
                <div class="home-partner-child desktop-hidden-images">
                    {% render 'image-snippet', image: section.settings.image_1 %}
                </div>
                {% if section.settings.text != blank %}
                    <p> {{ section.settings.text }} </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Sustainable Future",
        "settings": [
            {
                    "type": "html",
                    "id": "heading",
                    "label": "Heading",
                    "default": "<span>Manufacturing a More </span> Sustainable Future"
                },
                {
                    "type": "inline_richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "We’re committed to sustainability across the globe. Our dreams for a more sustainable future include striving to move to 80% recycled metal for springs and adjustable bases, adding two additional shipping hubs in the United States to further reduce our carbon footprint and replacing 10% of foam materials with natural resources. We’re focused on setting standards that make our future bright."
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "Image"
                }    
        ],
        "presets": [
            {
                "name": "Sustainable Future"
            }
        ]
    }
    {% endschema %}