
.product-title-text,
.form-label-checkbox,
.bottom-footer span,
.product-form__submit,
h2,
h3,
p{
    letter-spacing: normal;
}


.product-faqs-padding {
    padding-top: 208px;
}

.related-products li.grid__item .product-main-child {
    max-width: 100%;
}

.about-dedicated-child p b {
    color: #0C2340;
}

.privacy-service-main a {
    color: #5e7bab;
}

.article-excerpt {
    margin: 15px 0 0;
}

.blog-detail-head h1{
  font-weight: 700;
  color: #5E7BAB;
  margin: 10px 0px 0px;
  letter-spacing: normal;
}

.article-excerpt p {
    font-weight: 400;
}

.custom-small-hide{
    display: block;
}
.custom-mobile-hide{
    display: block;
}
.custom-desktop-hide{
    display: none;
}

.blog-single-image.empty-blogpost-image{
    display: flex;
    justify-content: center;
    align-items: center;
}


.product__info-container .block-id-a3a313fa-cb2c-4cd0-9885-6fc64c2e951a.product-additional-info-two img {
    width: 60%;
    margin-left: unset;
}

.product__info-container .block-id-a3a313fa-cb2c-4cd0-9885-6fc64c2e951a.product-additional-info-two {
    margin-bottom: 0;
}

.load-more__spinner {
    display:none;
    height: 25px;
    width: 25px;
    border: 5px solid #f3f3f3;
    align-content: center;
    margin: 0 auto;
    border-radius: 50%;
    border-top: 5px solid #000;
    animation: spin 2s linear infinite;
}

@keyframes spin {

   0% {
       transform: rotate(0deg)
   } 
    100%{ transform: rotate(360deg)}
}

@media only screen and (max-width: 1199px){
    .custom-small-hide{
        display: none;
    }
    .custom-desktop-hide{
        display: block;
    }
}
@media only screen and (max-width: 767px){
    .product-faqs-padding {
        padding-top: 60px;
    }
}
@media only screen and (max-width: 480px){
    .custom-mobile-hide{
        display: none;
    }
}