@media only screen and (min-width: 1680px) {
  .top-footer-left {
    width: 52%;
  }
  .bottom-footer {
    gap: 0;
  }

  .large-background-image {
    display: none;
  }

  .home-only-visuals .large-background-image {
    display: block;
  }

  .extra-background-image {
    display: flex;
  }
  .container {
    padding-right: 100px;
    padding-left: 100px;
  }
  .home-partner-child h2 br {
    display: none;
  }
  .home-partner-child .primary-btn {
    margin: 80px auto 0;
  }
  .blog-post:last-child {
    display: block;
  }
  .blog-post {
    max-width: 23%;
  }
  .home-partner-child h2 span {
    display: inline-block;
  }
  .scroll-to-top {
    right: 100px;
  }
  .product-main-child {
    max-width: 23%;
  }
  .contact-form-main-sec .expertise-child:first-child {
    padding: 0 50px 0 100px;
  }
  .home-partner-child:last-child {
    padding: 100px 100px 0 50px;
  }
  .innovation-main-sec .expertise-child:first-child {
    padding: 0 50px 0 100px;
  }
  .innovate-feature-child-text {
    margin-top: 45px;
  }
  .innovate-form-sec .expertise-child:first-child {
    padding: 0 97px 0 50px;
  }
  #footer {
    min-height: 360px;
  }
  .faq-parent-container {
    max-width: 62%;
}
}

@media only screen and (max-width: 1400px) {
  .socail-ul {
    gap: 25px;
  }
  .footer-scoial-media {
    max-width: 12%;
  }
  .top-footer-child .primary-btn {
    width: fit-content;
    padding: 0 15px;
  }

  .contact-form-main-sec .expertise-child h2 br {
    display: none;
  }
  .media-and-press-contact .home-partner-child h2 br {
    display: none;
  }
  .press-and-media-main-data {
    height: 300px;
  }
  .innovation-main-sec .expertise-child h2 br {
    display: none;
  }
  a.dealer-footer-link {
    font-size: 14px;
  }
  .form-label-checkbox {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .top-footer-left {
    width: 100%;
    row-gap: 60px;
  }
  .home-partner .flex-custom {
    align-items: center;
  }
  .tab-hidden {
    display: none;
  }
  .desktop-hidden-tab {
    display: block;
  }
  /* #search-toggle img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(240deg);
  } */
  .header-active #search-toggle img {
    filter: none;
  }
  .header-hamburger-text {
    color: #0c2340;
  }
  .header-active .header-hamburger-text {
    color: #fff;
  }
  .top-footer-child {
    max-width: 100%;
  }
  .top-footer-child:nth-child(1) {
    max-width: 100% !important;
  }
  .top-footer-child {
    max-width: 27% !important;
  }
  .top-footer-child:nth-child(4) {
    max-width: 31% !important;
  }

  .footer-scoial-media {
    max-width: 24%;
  }

  .home-hero-section {
    height: 501px;
  }
  .expertise-child {
    max-width: 100%;
  }
  .expertise-child h2 br {
    display: none;
  }
  .yellow-bar {
    width: 100%;
  }
  .top-footer {
    row-gap: 60px;
  }
  .top-footer-child a {
    font-size: 16px;
    font-weight: 400;
  }
  .footer-menu {
    gap: 20px;
  }
  .footer-cta-links {
    gap: 0;
  }
  .footer-menu-heading {
    margin-bottom: 20px;
    display: block;
  }
  .space-top-add {
    margin-top: 20px;
  }
  .scroll-to-top {
    top: -30px;
    right: 50px;
  }
  .bottom-footer {
    gap: 100px;
  }
  .product-thumbnail {
    height: 206px;
    object-fit: cover;
  }
  .contact-main-form-div {
    margin-bottom: 69px;
  }
  .contact-form-main-sec .expertise-child img {
    height: 600px;
  }
  .contact-form-main-sec {
    padding-bottom: 0;
  }
  .press-and-media-main-data {
    height: auto;
    gap: 30px;
  }
  .innovation-main-sec .expertise-child img {
    height: 600px;
    object-fit: cover;
    margin-top: 66px;
  }
  .bottom-vector-global img {
    width: 500px;
    height: 75px;
  }
  .partner-swiper {
    height: 745px;
  }
  .home-partner-child img {
    max-height: 745px;
    object-fit: cover;
  }
  .search-func {
    margin-right: 0;
  }
  .faq-parent-container {
    max-width: 100%;
}
}

@media only screen and (max-width: 1024px) {
  .extra-background-image {
    display: none;
  }
  .large-background-image {
    display: none;
  }
  .home-only-visuals .large-background-image {
    display: block;
  }
  .ipad-pro-background-image {
    display: flex;
  }
  .menusflex {
    height: 501px;
  }
  .menusflex ul li a {
    font-size: 22px;
    margin: 20px 0 0;
  }
  .menusflex.active::after {
    display: block;
  }
  .home-hero-section {
    height: 501px;
  }
  .expertise-child {
    max-width: 100%;
  }
  .expertise-child h2 br {
    display: none;
  }
  .yellow-bar {
    width: 100%;
  }
  .desktop-hidden-images {
    display: block;
    margin: 30px 0;
  }
  .tab-hidden-images {
    display: none;
  }
  .home-partner-child {
    max-width: 100%;
  }
  .home-partner-child h2 br {
    display: none;
  }
  .top-footer-child:nth-child(4) a {
    font-weight: 400;
  }
  .blog-post img {
    height: 286px;
  }
  .blog-post-main-perma img {
    height: 17px !important;
  }
  .home-partner-child:last-child {
    padding: 0 50px;
  }
  .media-and-press-contact-flex {
    flex-direction: column-reverse;
  }
  .media-and-press-link {
    margin-bottom: 44px;
  }
  .media-and-press-contact {
    padding: 89px 0;
  }
  .contact-main-form-div {
    margin-bottom: 0px;
  }
  .innovation-features-child {
    width: 100%;
    max-width: 31%;
  }
  .header-cta {
    gap: 0;
  }
  .home-partner-child .primary-btn {
    margin: 60px auto 0;
  }
  .blog-post h3 {
    font-size: 22px;
    font-weight: 700;
  }
  .blog-posting-date {
    font-weight: 400;
  }
  .blog-post-main-perma {
    font-size: 16px;
    font-weight: 700;
  }
  .home-blogs .primary-btn {
    margin: 80px auto 0;
  }
  .scroll-to-top {
    top: -40px;
  }
  .inner-slider-partner {
    height: 500px;
    margin-bottom: 50px;
  }
  .home-partner-child img {
    max-height: 500px;
    object-fit: cover;
  }
  .partner-swiper {
    height: 500px;
  }
  .swiper-button-next {
    bottom: -50px !important;
    top: unset;
    left: unset !important;
    right: 50px !important;
    transform: rotate(270deg);
  }
  .swiper-button-prev {
    bottom: -50px !important;
    top: unset;
    left: unset !important;
    right: 0px !important;
    transform: rotate(270deg);
  }
  .innovation-main-sec .expertise-child img,
  .contact-form-main-sec .expertise-child img {
    margin: 32px 0 63px;
    height: 500px;
  }
  .innovate-form-sec .expertise-child:first-child {
    padding: 0 50px;
  }
  .form-label-checkbox {
    font-size: 22px;
  }
  .innovation-main-sec h2 {
    padding-right: 45px;
  }
  .accord-icon {
    width: 12%;
}
.product-faqs {
  padding: 0 0 135px;
}
}

@media only screen and (max-width: 992px) {
  .innovation-main-sec h2 {
    padding-right: 0px;
  }
  h1,
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 24px;
  }
  .top-footer-child:nth-child(4) {
    max-width: 100% !important;
  }
  .bottom-footer {
    gap: 0;
    justify-content: space-between;
  }
  .top-footer-child {
    max-width: 50% !important;
  }
  .home-hero-section {
    height: 400px;
  }
  .menusflex {
    height: 501px;
  }
  .menusflex.active::after {
    display: block;
    width: 232px;
    height: 34px;
  }
  .home-only-visuals .large-background-image {
    display: block;
  }
  .innovation-features-child {
    max-width: 47%;
  }
}

@media only screen and (max-width: 767px) {
  .scroll-to-top {
    right: 30px;
  }
  .top-footer-child {
    max-width: 42% !important;
  }
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  #footer .bottom-vector-global {
    top: -30px;
    bottom: auto;
  }
  .large-background-image {
    display: none;
  }
  .ipad-pro-background-image {
    display: none;
  }
  .mobile-ipad-background-image {
    display: flex;
    background-position: right;
  }
  .home-only-visuals .mobile-ipad-background-image {
    background-position: center;
  }
  .home-hero-section {
    height: 300px;
  }
  #header {
    position: relative;
    height: 94px;
    background: white;
  }
  .header-active {
    position: fixed !important;
  }
  .header-active {
    background-color: #0c2340 !important;
  }
  .header-cta {
    gap: 0px;
  }
  .header-logo {
    max-width: 50%;
  }
  h1 {
    font-size: 32px;
    line-height: normal;
    letter-spacing: -0.96px;
  }
  h2 {
    font-size: 32px;
    font-weight: 400;
  }
  p {
    font-size: 16px;
  }
  .primary-btn {
    font-size: 16px;
    width: 200px;
    height: 70px;
  }
  .home-only-visuals {
    height: 300px;
  }
  .home-partner-child:last-child {
    padding: 0 30px;
  }
  .bottom-vector-global img {
    width: 232px;
    height: 34px;
  }
  .section-bar-partners {
    margin-bottom: 25px;
  }
  .yellow-bar {
    margin-bottom: 25px;
  }
  .home-blogs h2 {
    margin-bottom: 25px;
  }
  .blog-post img {
    height: 144px;
  }
  .blog-post {
    max-width: 47%;
  }
  .blog-post:nth-child(3) {
    display: none;
  }
  .blog-posting-date {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 9px;
  }
  .blog-post-main-perma {
    font-size: 16px;
  }
  .home-blogs .primary-btn {
    margin: 49px auto 0;
  }
  .home-sustainability .primary-btn {
    margin-top: 54px;
  }
  .section-padding {
    padding: 66px 0;
  }
  .scroll-to-top {
    top: 50px;
  }
  .top-footer-child:nth-child(2) {
    max-width: 48%;
  }
  .top-footer-child:nth-child(3) {
    max-width: 48%;
  }
  .top-footer {
    row-gap: 49px;
  }
  .top-footer-child:nth-child(4) {
    max-width: 80%;
  }
  .bottom-footer {
    justify-content: space-between;
  }
  .footer-scoial-media {
    max-width: max-content;
  }
  .socail-ul {
    gap: 30px;
  }
  .search-input {
    width: 97%;
  }
  .home-sustainability h2 br {
    display: block !important;
  }
  .bottom-footer {
    gap: 10px;
  }
  .expertise-child h2 br {
    display: block;
  }
  .home-partner-child h2 br {
    display: none;
  }
  .product-main-child {
    max-width: 47%;
  }
  .row-gap-69 {
    row-gap: 40px;
  }
  .product-hero-section {
    padding: 60px 0 40px;
  }
  .contact-form-main-sec .expertise-child:first-child {
    padding: 0 30px;
  }
  .contact-form-main-sec .expertise-child img {
    height: 297px;
    object-fit: cover;
  }
  .media-and-press-contact {
    padding-top: 0;
    padding-bottom: 89px;
  }
  .form-field-contact .primary-btn {
    margin-top: 40px;
  }
  .innovation-main-sec .expertise-child:first-child {
    padding: 0 30px;
  }
  .innovation-main-sec .expertise-child img {
    height: auto;
    margin-top: 30px;
  }
  .innovate-form-sec.section-padding {
    padding-bottom: 89px;
  }
  .expertise-chair-image {
    margin: 20px 0;
  }
  .home-only-visuals .large-background-image {
    display: none;
  }
  .blog-post h3 {
    font-size: 16px;
  }
  .blog-posting-date {
    font-weight: 400;
  }
  .top-footer-child:nth-child(4) a {
    width: 75%;
  }
  .inner-slider-partner {
    height: 300px;
  }
  .home-partner-child img {
    max-height: 300px;
  }
  .partner-swiper {
    height: 300px;
  }
  .scroll-to-top {
    font-size: 8px;
    padding: 10px 10px 10px;
  }
  .scroll-to-top img {
    width: 30px;
    height: 30px;
  }
  .innovate-feature-child-text {
    margin-top: 28px;
  }
  .innovation-main-sec .expertise-child img,
  .contact-form-main-sec .expertise-child img {
    margin: 32px 0 37px;
  }
  .innovate-feature-child-icon {
    height: 137px;
  }
  #search-toggle img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(240deg);
  }
  .media-and-press-contact img {
    margin: 0;
  }
  .media-and-press-link {
    margin-bottom: 0;
  }
  .shop-back-all {
    font-size: 16px;
    gap: 0;
  }
  .product-title-text {
    font-size: 16px;
  }
  .product-faqs {
    padding: 0 0 89px !important;
}
.accordion-header {
  font-size: 16px;
}
.product-faqs .prodcut-hero-heading {
  margin-bottom: 45px;
}
.accord-icon img {
  width: 25px;
  height: 50px;
}
.accord-icon {
  width: 22%;
}
}

@media only screen and (max-width: 600px) {
  .product-thumbnail {
    height: 144px;
    object-fit: cover;
  }
  .media-and-press-link {
    font-size: 12px;
  }
  .form-label-checkbox {
    font-size: 12px;
  }
  .menusflex ul li a {
    margin: 24px 0 0;
    font-size: 16px;
  }
  .innovation-features-child {
    max-width: 100%;
  }
  .toggle-menu {
    width: 80.552px;
  }
}
