@media only screen and (min-width: 1680px) {
  .top-footer-left {
    width: 52%;
  }
  .bottom-footer {
    gap: 0;
  }

  .large-background-image {
    display: none;
  }

  .home-only-visuals .large-background-image {
    display: block;
  }

  .extra-background-image {
    display: flex;
  }
  .container {
    padding-right: 100px;
    padding-left: 100px;
  }
  .home-partner-child h2 br {
    display: none;
  }
  .home-partner-child .primary-btn {
    margin: 80px auto 0;
  }
  .blog-post:last-child {
    display: block;
  }
  .blog-post {
    max-width: 23%;
  }
  .home-partner-child h2 span {
    display: inline-block;
  }
  .scroll-to-top {
    right: 100px !important;
  }
  .product-main-child {
    max-width: 23%;
  }
  .contact-form-main-sec .expertise-child:first-child {
    padding: 0 50px 0 100px;
  }
  .home-partner-child:last-child {
    padding: 100px 100px 0 50px;
  }
  .innovation-main-sec .expertise-child:first-child {
    padding: 0 50px 0 100px;
  }
  .innovate-feature-child-text {
    margin-top: 45px;
  }
  .innovate-form-sec .expertise-child:first-child {
    padding: 0 97px 0 50px;
  }
  #footer {
    min-height: 360px;
  }
  .faq-parent-container {
    /* max-width: 62%; */
    max-width: 1000px;
  }
  .search-input {
    width: 89%;
  } 
  .about-innovation-child h2 span {
    display: inline;
  }
  .about-innovation-child:last-child {
    padding: 0 50px 0 100px;
  }
  .about-dedicated-child:last-child {
    padding: 0px 100px 0px 50px;
  }
  .about-rest-child:last-child {
    padding: 0 50px 0px 0px;
  }
  .desk-small {
    display: none;
  }
  .mobile-data {
    display: none;
  }
  .tablet-data {
    display: none;
  }
  .about-leading-child:last-child {
    padding: 0 100px 0px 50px;
  }
  .about-leading-child img {
    max-height: 500px;
  }
  .explore-products-child:last-child {
    padding: 0 50px 0px 0px;
  }
  .create-new-child:last-child {
    padding: 0px 100px 0px 50px;
  }
  .browse-catalog-child:last-child {
    padding: 0 50px 0px 100px;
  }
  .restful-respect-child:last-child {
    padding: 0 50px 0px 100px;
  }
  .restful-respect .restful-respect-child img {
    max-height: 500px;
  }
  .restful-respect-child {
    max-width: 48.7%;
  }
  .rest-easy-child:last-child {
    padding: 0px 100px 0 50px;
  }
  .rest-easy-child {
    max-width: 48.7%;
  }
  .rest-easy-child:last-child {
    padding: 0px 100px 0 50px;
    max-width: 51%;
  }
  .rest-easy-child img {
    max-height: 500px;
  }
  .rest-easy-child h2 span {
    display: block;
  }
  .community-giving-child:last-child {
      padding: 0 50px 0px 100px;
  }
  .sustainable-future-child:last-child {
    padding: 0 100px 0px 50px;
  }
}
@media only screen and (max-width: 1679px) {
  .search-input {
    width: 93%;
  }
  .about-innovation-child:last-child {
    max-width: 44.8%;
  }
  .home-partner-child {
    max-width: 48.3%;
  } 
  .about-dedicated-child:last-child {
    padding: 0px 50px 0px 0px;
  }
  .about-rest-child:last-child {
    padding: 0 0px 0px 0px;
  }
  .mobile-data {
    display: none;
  }   
  .desk-large {
    display: none;
  } 
  .desk-small {
    display: block;
  }
  .tablet-data {
    display: none;
  }
  .about-leading-child:last-child {
    padding: 0 50px 0px 0px;
  }
  .about-leading-child img {
    max-height: 500px;
    min-height: 500px;
  }
  .explore-products-child:last-child {
    padding: 0 0px 0px 0px;
  }
  .explore-products-row:nth-child(odd) .explore-product-left {
    width: 48.2%;
  }
  .explore-products-row:nth-child(odd) .explore-product-right {
    width: 48%;
  }
  .create-new-child:last-child {
    padding: 0px 50px 0px 0px;
  }
  .browse-catalog-child:last-child {
    padding: 0 50px 0px 50px;
  }
  .restful-respect-child:last-child {
    padding: 0px 50px 0px;
    max-width: 50%;
  }
  .restful-respect .restful-respect-child img {
    max-height: 500px;
    min-height: 500px;
  }
  .rest-easy-child img {
    max-height: 500px;
    min-height: 500px;
  }
  .rest-easy-child:last-child {
    padding: 0px 50px 0 40px;
    max-width: 51%;
  }
  .community-giving-child:last-child {
    padding: 0px 50px 0px;
  }
  .sustainable-future-child:last-child {
    padding: 0 0px 0px 0px;
  }
} 
@media only screen and (max-width: 1400px) {
  .socail-ul {
    gap: 25px;
  }
  .footer-scoial-media {
    max-width: 12%;
  }
  .top-footer-child .primary-btn {
    width: fit-content;
    padding: 0 15px;
  }

  .contact-form-main-sec .expertise-child h2 br {
    display: none;
  }
  .media-and-press-contact .home-partner-child h2 br {
    display: none;
  }
  .press-and-media-main-data {
    height: 300px;
  }
  .innovation-main-sec .expertise-child h2 br {
    display: none;
  }
  a.dealer-footer-link {
    font-size: 14px;
  }
  .form-label-checkbox {
    font-size: 20px;
  } 
}
@media only screen and (max-width: 1367px) {
  h2 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 1240px) {
  .relation-mission-container {
      padding: 40px 0px 0px;
  }
  .relation-single {
      width: 100%;
  }
  .relation-single:not(:last-child) {
      margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1200px) {
  .top-footer-left {
    width: 100%;
    row-gap: 60px;
  }
  .home-partner .flex-custom {
    align-items: center;
  }
  .tab-hidden {
    display: none;
  }
  .desktop-hidden-tab {
    display: block;
  }
  /* #search-toggle img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(240deg);
  } */
  .header-active #search-toggle img {
    filter: none;
  }
  .header-hamburger-text {
    color: #0c2340;
  }
  .header-active .header-hamburger-text {
    color: #fff;
  }
  .top-footer-child {
    max-width: 100%;
  }
  .top-footer-child:nth-child(1) {
    max-width: 100% !important;
  }
  .top-footer-child {
    max-width: 27% !important;
  }
  .top-footer-child:nth-child(4) {
    max-width: 31% !important;
  }

  .footer-scoial-media {
    max-width: 24%;
  }

  .home-hero-section {
    height: 501px;
  }
  .expertise-child {
    max-width: 100%;
  }
  .expertise-child h2 br {
    display: none;
  }
  .yellow-bar {
    width: 100%;
  }
  .top-footer {
    row-gap: 60px;
  }
  .top-footer-child a {
    font-size: 16px;
    font-weight: 400;
  }
  .footer-menu {
    gap: 20px;
  }
  .footer-cta-links {
    gap: 0;
  }
  .footer-menu-heading {
    margin-bottom: 20px;
    display: block;
  }
  .space-top-add {
    margin-top: 20px;
  }
  .scroll-to-top {
    top: -30px;
    right: 50px;
  }
  .bottom-footer {
    gap: 100px;
  }
  .product-thumbnail {
    height: 206px;
    object-fit: cover;
  }
  .contact-main-form-div {
    margin-bottom: 69px;
  }
  .contact-form-main-sec .expertise-child img {
    height: 600px;
  }
  .contact-form-main-sec {
    padding-bottom: 0;
  }
  .press-and-media-main-data {
    height: auto;
    gap: 30px;
  }
  .innovation-main-sec .expertise-child img {
    height: 600px;
    object-fit: cover;
    margin-top: 66px;
  }
  .bottom-vector-global img {
    width: 500px;
    height: 75px;
  }
  .partner-swiper {
    height: 745px;
  }
  .home-partner-child img {
    max-height: 745px;
    object-fit: cover;
  }
  .search-func {
    margin-right: 0;
  }
  .faq-parent-container {
    max-width: 100%;
  }
  .search-input {
    width: 89%;
  }  
  .about-innovation-child .primary-btn {
    display: flex;
  }

  .about-tablet-btn {
      display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .extra-background-image {
    display: none;
  }
  .large-background-image {
    display: none;
  }
  .home-only-visuals .large-background-image {
    display: block;
  }
  .ipad-pro-background-image {
    display: flex;
  }
  .menusflex {
    height: 501px;
  }
  .menusflex ul li a {
    font-size: 22px;
    margin: 20px 0 0;
  }
  .menusflex.active::after {
    display: block;
  }
  .home-hero-section {
    height: 501px;
  }
  .expertise-child {
    max-width: 100%;
  }
  .expertise-child h2 br {
    display: none;
  }
  .yellow-bar {
    width: 100%;
  }
  .desktop-hidden-images {
    display: block;
    margin: 30px 0;
  }
  .tab-hidden-images {
    display: none;
  }
  .home-partner-child {
    max-width: 100%;
  }
  .home-partner-child h2 br {
    display: none;
  }
  .top-footer-child:nth-child(4) a {
    font-weight: 400;
  }
  .blog-post img {
    height: 286px;
  }
  .blog-post-main-perma img {
    height: 17px !important;
  }
  .home-partner-child:last-child {
    padding: 0 50px;
  }
  .media-and-press-contact-flex {
    flex-direction: column-reverse;
  }
  .media-and-press-link {
    margin-bottom: 44px;
  }
  .media-and-press-contact {
    padding: 89px 0;
  }
  .contact-main-form-div {
    margin-bottom: 0px;
  }
  .innovation-features-child {
    width: 100%;
    max-width: 31%;
  }
  .header-cta {
    gap: 0;
  }
  .home-partner-child .primary-btn {
    margin: 60px auto 0;
  }
  .blog-post h3 {
    font-size: 22px;
    font-weight: 700;
  }
  .blog-posting-date {
    font-weight: 400;
  }
  .blog-post-main-perma {
    font-size: 16px;
    font-weight: 700;
  }
  .home-blogs .primary-btn {
    margin: 80px auto 0;
  }
  .scroll-to-top {
    top: -40px;
  }
  .inner-slider-partner {
    height: 500px;
    margin-bottom: 50px;
  }
  .home-partner-child img {
    max-height: 500px;
    object-fit: cover;
  }
  .partner-swiper {
    height: 500px;
  }
  .swiper-button-next {
    bottom: -50px !important;
    top: unset;
    left: unset !important;
    right: 50px !important;
    transform: rotate(270deg);
  }
  .swiper-button-prev {
    bottom: -50px !important;
    top: unset;
    left: unset !important;
    right: 0px !important;
    transform: rotate(270deg);
  }
  .innovation-main-sec .expertise-child img,
  .contact-form-main-sec .expertise-child img {
    margin: 32px 0 63px;
    height: 500px;
  }
  .innovate-form-sec .expertise-child:first-child {
    padding: 0 50px;
  }
  .form-label-checkbox {
    font-size: 22px;
  }
  .innovation-main-sec h2 {
    padding-right: 45px;
  }
  .accord-icon {
    width: 12%;
  }
  .product-faqs {
    padding: 0 0 135px;
  }
  .about-innovation-child:last-child {
    width: 100%;
    max-width: 100%;
  }
  .about-innovation-child h2 {
      font-size: 64px;
  }
  .about-innovation-child p {
    display: none;
  }
  .about-tablet-btn a {
    margin: 0;
    max-width: 240px;
    padding: 15px 50px;
  } 
  .about-tablet-btn .primary-btn {
    margin: 0px;
  }
  .about-tablet-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
  }
  .about-innovation-child img {
      margin: 0px;
  }
  .about-innovation-child .primary-btn {
    display: none;
  }

  .about-tablet-btn {
      display: flex;
  }
  .about-tablet-btn .primary-btn {
      display: flex;
  }
  .about-video-main video {
      height: 600px;
  }
  .about-rest-child:last-child {
    padding: 0px;
  }
  .desk-small {
    display: none;
  }
  .tablet-data {
    display: block;
  }
  .explore-product-right {
    display: none;
  }
  .explore-product-left, .explore-products-row:nth-child(odd) .explore-product-left {
    width: 100%;
  }
  .home-partner-child:last-child {
    padding: 0;
  }
  .explore-product-left .primary-btn {
    margin: 55px auto 0px;
  }
  .create-new-child:last-child {
    padding: 0px 50px;
  }
  .create-new-child h2 span {
    display: block;
  }
  .divider-vec {
    bottom: -6px;
  }
  .browse-catalog-child:last-child {
    padding: 0 50px;
  }
  .restful-respect-child:last-child {
    max-width: 100%;
    padding: 0 50px;
  }

  .restful-respect-child h2 span {
      display: block;
  }
  .rest-easy-child:last-child {
      max-width: 100%;
      padding: 0 50px;
  }

  .rest-easy-child h2 span {
      display: block;
  }
  .rest-easy-section {
    padding: 0px 0px 69px;
  }
  .community-giving-child:last-child {
    padding: 0 50px;
  }
  .sustainable-future-child h2 span {
    display: block;
  }
  .sustainability-values-single {
    width: 50%;
  }
}

@media only screen and (max-width: 992px) {
  .innovation-main-sec h2 {
    padding-right: 0px;
  }
  h1,
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 24px;
  }
  .top-footer-child:nth-child(4) {
    max-width: 100% !important;
  }
  .bottom-footer {
    gap: 0;
    justify-content: space-between;
  }
  .top-footer-child {
    max-width: 50% !important;
  }
  .home-hero-section {
    height: 400px;
  }
  .menusflex {
    height: 501px;
  }
  .menusflex.active::after {
    display: block;
    width: 232px;
    height: 34px;
  }
  .home-only-visuals .large-background-image {
    display: block;
  }
  .innovation-features-child {
    max-width: 47%;
  }
  .scroll-to-top {
    position: absolute; 
    top: 0 !important;
    bottom: auto !important;
  } 
  .about-innovation-child h2 {
    font-size: 44px;
  }
  .about-team-bg {
    height: 450px;
  }
}

@media only screen and (max-width: 767px) {
  .scroll-to-top {
    right: 30px;
  }
  .top-footer-child {
    max-width: 42% !important;
  }
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  #footer .bottom-vector-global {
    top: -30px;
    bottom: auto;
  }
  .large-background-image {
    display: none;
  }
  .ipad-pro-background-image {
    display: none;
  }
  .mobile-ipad-background-image {
    display: flex;
    background-position: right;
  }
  .home-only-visuals .mobile-ipad-background-image {
    background-position: center;
  }
  .home-hero-section {
    height: 300px;
  }
  #header {
    /* position: relative; */
    position: fixed;
    height: 94px;
    background: white;
    top: 0;
  }
  .header-active {
    position: fixed !important;
    height: 80px !important;
  }
  .header-active {
    background-color: #0c2340 !important;
  }
  .header-cta {
    gap: 0px;
  }
  .header-logo {
    max-width: 50%;
  }
  h1 {
    font-size: 32px;
    line-height: normal;
    letter-spacing: -0.96px;
  }
  h2 {
    font-size: 32px;
    font-weight: 400;
  }
  p {
    font-size: 16px;
  }
  .primary-btn {
    font-size: 16px;
    width: 200px;
    height: 70px;
  }
  .home-only-visuals {
    height: 300px;
  }
  .home-partner-child:last-child {
    padding: 0 30px;
  }
  .bottom-vector-global img {
    width: 232px;
    height: 34px;
  }
  .section-bar-partners {
    margin-bottom: 25px;
  }
  .yellow-bar {
    margin-bottom: 25px;
  }
  .home-blogs h2 {
    margin-bottom: 25px;
  }
  .blog-post img {
    height: 144px;
  }
  .blog-post {
    max-width: 47%;
  }
  .blog-post:nth-child(3) {
    display: none;
  }
  .blog-posting-date {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 9px;
  }
  .blog-post-main-perma {
    font-size: 16px;
  }
  .home-blogs .primary-btn {
    margin: 49px auto 0;
  }
  .home-sustainability .primary-btn {
    margin-top: 54px;
  }
  .section-padding {
    padding: 66px 0;
  }
  .scroll-to-top {
    top: 50px;
  }
  .top-footer-child:nth-child(2) {
    max-width: 48%;
  }
  .top-footer-child:nth-child(3) {
    max-width: 48%;
  }
  .top-footer {
    row-gap: 49px;
  }
  .top-footer-child:nth-child(4) {
    max-width: 80%;
  }
  .bottom-footer {
    justify-content: space-between;
  }
  .footer-scoial-media {
    max-width: max-content;
  }
  .socail-ul {
    gap: 30px;
  }
  .search-input {
    width: 92%;
  }
  .home-sustainability h2 br {
    display: block !important;
  }
  .bottom-footer {
    gap: 10px;
  }
  .expertise-child h2 br {
    display: block;
  }
  .home-partner-child h2 br {
    display: none;
  }
  .product-main-child {
    max-width: 47%;
  }
  .row-gap-69 {
    row-gap: 40px;
  }
  .product-hero-section {
    padding: 60px 0 40px;
    margin: 90px 0px 0px;
  }
  .contact-form-main-sec .expertise-child:first-child {
    padding: 0 30px;
  }
  .contact-form-main-sec .expertise-child img {
    height: 297px;
    object-fit: cover;
  }
  .media-and-press-contact {
    padding-top: 0;
    padding-bottom: 89px;
  }
  .form-field-contact .primary-btn {
    margin-top: 40px;
  }
  .innovation-main-sec .expertise-child:first-child {
    padding: 0 30px;
  }
  .innovation-main-sec .expertise-child img {
    height: auto;
    margin-top: 30px;
  }
  .innovate-form-sec.section-padding {
    padding-bottom: 89px;
  }
  .expertise-chair-image {
    margin: 20px 0;
  }
  .home-only-visuals .large-background-image {
    display: none;
  }
  .blog-post h3 {
    font-size: 16px;
  }
  .blog-posting-date {
    font-weight: 400;
  }
  .top-footer-child:nth-child(4) a {
    width: 75%;
  }
  .inner-slider-partner {
    height: 300px;
  }
  .home-partner-child img {
    max-height: 300px;
  }
  .partner-swiper {
    height: 300px;
  }
  .scroll-to-top {
    font-size: 8px;
    padding: 10px 10px 10px;
  }
  .scroll-to-top img {
    width: 30px;
    height: 30px;
  }
  .innovate-feature-child-text {
    margin-top: 28px;
  }
  .innovation-main-sec .expertise-child img,
  .contact-form-main-sec .expertise-child img {
    margin: 32px 0 37px;
  }
  .innovate-feature-child-icon {
    height: 137px;
  }
  #search-toggle img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(240deg);
  }
  .media-and-press-contact img {
    margin: 0;
  }
  .media-and-press-link {
    margin-bottom: 0;
  }
  .shop-back-all {
    font-size: 16px;
    gap: 0;
  }
  .product-title-text {
    font-size: 16px;
  }
  .product-faqs {
    padding: 0 0 89px !important;
  }
  .accordion-header {
    font-size: 16px;
  }
  .product-faqs .prodcut-hero-heading {
    margin-bottom: 45px;
  }
  .accord-icon img {
    width: 25px;
    height: 50px;
  }
  .accord-icon {
    width: 22%;
  }
  .home-hero-section {
    margin: 90px 0px 0px;
  }
  .expertise-child p {
      margin-bottom: 30px;
  }
  .about-innovation-child h2 {
      font-size: 32px;
  }
  .about-tablet-btn {
    position: relative;
    flex-wrap: wrap;
    gap: 10px;
  }

  .about-tablet-btn .primary-btn {
      margin: 0px;
  }

  .about-tablet-btn a {
      padding: 15px 20px !important;
      min-width: 240px;
  }

  .secondary-btn {
      font-size: 16px;
      width: 200px;
      height: 70px;
  }
  .about-video-trian img {
      width: 232px;
      height: 34px;
  }
  .about-rest-child:last-child {
    padding: 0px;
  }
  .tablet-data {
    display: none;
  }
  .about-rest {
    padding: 66px 0px 34px;
  }
  .mobile-data {
    display: block;
  } 
  .research-chart-row h6 {
    font-size: 16px;
    font-family: 'Work Sans';
    color: #0C2340;
    font-weight: 700;
  }
  .research-chart-row p {
      margin: 0;
      font-weight: 400;
  }
  .research-chart-row:not(:last-child) {
      margin-bottom: 20px;
  }
  .about-leading {
      padding: 66px 0px 10px;
  } 
  .divider-section {
      height: 300px;
  }
  .divider-vec {
    max-width: 232px;
  }
  .create-new-child:last-child {
    padding: 0px 30px;
  }
  .browse-catalog-child:last-child {
    padding: 0 30px;
  }
  .browse-catalog {
    padding: 0px 0px 66px;
  }
  .restful-respect-child:last-child {
    padding: 0 30px;
  }
  .restful-respect .restful-respect-child img {
    max-height: 300px;
    min-height: 300px;
  }
  .rest-easy-section {
    padding: 0px 0px 69px;
  }
  .rest-easy-child img {
    max-height: 300px;
    min-height: 300px;
  }
  .rest-easy-child h2 span {
    display: inline;
  }
  .community-giving-child:last-child {
    padding: 0 30px;
  }
  .icon-details-single {
    width: 100%;
  }
  .icon-details-single:first-child .icon-details-icon img {
    max-width: 71px;
  }
  .icon-details-icon {
      height: auto;
  }
  .icon-details-single:nth-child(2) .icon-details-icon img {
      max-width: 102px;
  }
  .icon-details-icon {
      margin: 0 0 33px;
  }
  .icon-details-single:not(:last-child) {
      margin: 0 0 33px;
  }
  .icon-details-info h5 {
      font-size: 16px;
  }
  .icon-details-single:last-child .icon-details-icon img {
      max-width: 99px;
  }
  .home-partner-child.sustainable-future-child {
    padding: 0px;
  }
  .sustainable-future-child h2 span {
    display: inline;
  }
  .sustainability-values-single {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .product-thumbnail {
    height: 144px;
    object-fit: cover;
  }
  .media-and-press-link {
    font-size: 12px;
  }
  .form-label-checkbox {
    font-size: 12px;
  }
  .menusflex ul li a {
    margin: 24px 0 0;
    font-size: 16px;
  }
  .innovation-features-child {
    max-width: 100%;
  }
  .toggle-menu {
    width: 80.552px;
  }
  .header-hamburger-text {
      display: none !important;
  }
  .toggle-menu:hover .header-hamburger-icon {
      opacity: 1;
      visibility: visible;
  }
  .home-partner-child .swiper-button-next {
      top: 0;
      bottom: 0 !important;
      margin: auto;
      right: 20px !important;
      left: auto !important;
  }

  .home-partner-child .swiper-button-prev {
      top: 0;
      bottom: 0 !important;
      margin: auto;
      left: 20px !important;
      right: auto !important;
  }

  .home-partner-child .swiper-button-next, .home-partner-child .swiper-button-prev {
      transform: none;
      width: auto !important;
  }

  .desktop-arrow-image {
      display: none;
  }

  .mobile-arrow-image {
      display: block;
  }

  .home-partner-child .swiper-button-next img {
      width: 18px;
      height: 36px;
      filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.40));
  }

  .home-partner-child .swiper-button-prev img {
      width: 18px;
      height: 36px;
      filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.40));
  }
  .innovate-feature-child-icon {
      max-width: 245px;
  }
  .product-hero-section .container {
      justify-content: space-between;
  }

  .shop-back-all {
      text-align: right;
      display: inline-flex;
      justify-content: flex-end;
      max-width: 120px;
  }
  .about-video-main video {
      height: 320px;
  }
  .relation-mission-container {
      padding: 10px 0px 0px;
  }
  .relation-single p {
      margin: 0px 0px 0px;
  }
  .relation-single h2 {
      font-size: 16px;
      letter-spacing: -0.3px;
  }
  .mobile-hidden {
    display: none;
  }
  .mobile-data {
      display: block;
  }
  .about-team-bg {
      height: 300px;
  }
  .about-vec {
      max-width: 232px;
  }
  .desk-large {
    display: none;
  } 
  .desk-small {
    display: none;
  }
  .about-leading-child img {
    max-height: 300px;
    min-height: 300px;
  }
  .about-backed-link {
    margin: 35px 0px 0px;
  }
  .about-backed-content h3 {
    font-size: 22px;
  } 
}
@media only screen and (max-width: 400px) {
  .about-team-bg {
    height: 230px;
  }
  .divider-section {
    height: 230px;
  }
  .restful-respect .restful-respect-child img {
    max-height: 230px;
    min-height: 230px;
  }
  .rest-easy-child img {
    max-height: 230px;
    min-height: 230px;
  }
  .reducing-content p {
    font-size: 20px;
  }

  .reducing-content h2 {
      font-size: 100px;
  }

  .sustainability-values-single-content {
      height: 300px;
      max-height: 300px;
      max-width: 300px;
  }

  .leaf-image img {
      max-width: 250px;
  }

  .maintaining-content h3 {
      font-size: 34px;
      line-height: 34px;
  }

  .recycling-content h3 {
      font-size: 44px;
  }

  .recycling-content p {
      margin: 0px;
      font-size: 18px;
      line-height: normal;
  }

  .meeting-content h6 {
      font-size: 20px;
      max-width: 75%;
  }

  .meeting-content h2 {
      font-size: 100px;
      line-height: normal;
  }

  .upward-arrows img {
      max-width: 120px;
  }

  .increasing-content p {
      font-size: 20px;
  }

  .increasing-content h3 {
      font-size: 80px;
      line-height: normal;
  }

  .carbon-content p {
      font-size: 20px;
      line-height: normal;
  }

  .carbon-content h5 {
      font-size: 26px;
      line-height: normal;
  }

  .down-arrow img {
      max-width: 90px;
  }
}
@media only screen and (max-width: 350px) {
  .reducing-content p {
    font-size: 17px;
  }

  .reducing-content h2 {
      font-size: 80px;
  }

  .sustainability-values-single-content {
      height: 260px;
      max-height: 280px;
      max-width: 280px;
      width: 260px;
  }

  .leaf-image img {
      max-width: 210px;
  }

  .maintaining-content h3 {
      font-size: 28px;
      line-height: normal;
  }

  .recycling-content h3 {
      font-size: 40px;
  }

  .recycling-content p {
      margin: 0px;
      font-size: 14px;
      line-height: normal;
  }

  .meeting-content h6 {
      font-size: 16px;
      max-width: 75%;
  }

  .meeting-content h2 {
      font-size: 70px;
      line-height: normal;
  }

  .upward-arrows img {
      max-width: 100px;
  }

  .increasing-content p {
      font-size: 18px;
  }

  .increasing-content h3 {
      font-size: 64px;
      line-height: normal;
  }

  .carbon-content p {
      font-size: 16px;
      line-height: normal;
  }

  .carbon-content h5 {
      font-size: 20px;
      line-height: normal;
  }

  .down-arrow img {
      max-width: 70px;
  }

  .recycle-image img {
      max-width: 70px;
  }
}