.tab-content {
  display: none;
}

.active-tab {
  display: block;
}

.tab-buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  cursor: pointer;
}

.tab-button {
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  flex: 1;
  text-align: center;
}

.tab-button:hover {
  background-color: #ddd;
}