@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Global Styling*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: "Work Sans", sans-serif;
  background: #fff;
}

html {
  height: 100%;
  width: 100%;
  font-size: 18px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  font-family: "Work Sans", sans-serif;
}
a,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #0c2340;
}

h1,
.h1 {
  font-style: italic;
  font-size: 64px;
  /* line-height: 106.25%; */
  line-height: normal;
  letter-spacing: -1.92px;
}

h2,
.h2 {
  font-size: 64px;
  font-style: italic;
  line-height: normal;
}

h3,
.h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  line-height: normal;
}

h4,
.h4 {
  font-size: 24px;
  font-style: normal;
  line-height: 125%;
}

h5,
.h5 {
  font-size: 20px;
}

h6,
.h6 {
  font-size: 16px;
}

p {
  font-family: "Work Sans", sans-serif;
  color: #696969;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

textarea {
  resize: none;
  font-family: "Work Sans", sans-serif;
}

ul.nav > li a {
  -moz-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
}

/* Global Flex */

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.f-col {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.space-b {
  justify-content: space-between;
}

.jc-start {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}

.a-end {
  align-items: flex-end;
}
.row-gap-69 {
  row-gap: 69px;
}
.f-row-reverse {
  flex-direction: row-reverse;
}

/* Button Styling */
.primary-btn {
  width: 240px;
  height: 80px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: #0c2340;
  background: #f2b941;
  border: 1px solid #f2b941;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.secondary-btn {
  width: 240px;
  height: 80px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: #0c2340;
  background: #B5B5B5;
  border: 1px solid #B5B5B5;
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.primary-btn:hover {
  background-color: transparent !important;
  color: #0c2340 !important;
}
.secondary-btn:hover {
  background-color: transparent !important;
  color: #0c2340 !important;
}
.heading-piece {
  color: #0c2340;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.section-padding {
  padding: 69px 0;
}

/* HAMBURGER CSS STARTS*/
.toggle-menu {
  position: relative;
  height: 49.374px;
  width: 100px;
  overflow: hidden;
}
.header-hamburger-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  width: 76.552px;
  height: 49.374px;
}
.toggle-menu:hover .header-hamburger-icon {
  opacity: 0;
  visibility: hidden;
}

#hamburger-6 {
  position: absolute;
  margin-left: auto !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.header-hamburger-text {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  margin-right: -20px;
}
.toggle-menu:hover .header-hamburger-text {
  opacity: 1;
  visibility: visible;
}
.is-active .header-hamburger-text {
  display: none;
}
/* .is-active .header-hamburger-icon {
  display: none;
} */
.is-active .header-hamburger-icon {
  display: block;
  opacity: 0.2;
}
.toggle-menu .is-active:hover .header-hamburger-icon {
  opacity: 0.2;
  visibility: visible;
}
#hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  border: 1px solid white;
  width: 49px;
  height: 49px;
  justify-content: center;
}

.toggle-click-bars {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6 .line {
  opacity: 0;
  visibility: hidden;
  background: #fff;
}
#hamburger-6.is-active .line {
  opacity: 1;
  visibility: visible;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  width: 30px;
}

#hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(11px);
  margin-top: -10px;
}

#hamburger-6.is-active .line:nth-child(2) {
  -webkit-transform: translateY(9px) rotate(90deg);
  -ms-transform: translateY(9px) rotate(90deg);
  -o-transform: translateY(9px) rotate(90deg);
  transform: translateY(9px) rotate(90deg);
}

.hamburger .line {
  width: 30px;
  height: 1px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.is-active {
  z-index: 100 !important;
  position: relative;
}

.hamburger:hover {
  cursor: pointer;
}

.menusflex {
  position: fixed;
  right: -103%;
  top: 0;
  height: 720px;
  width: 100vw;
  background-color: rgba(94, 123, 171, 0.9);
  transition: 0.5s ease-in-out;
  z-index: 99;
}

.menusflex.active {
  right: 0;
}

.menusflex ul li a {
  display: block;
  color: #fff;
  font-size: 30px;
  margin: 40px 0 0;
  transition: all 0.3s linear;
}

.menusflex ul li a:hover {
  color: #0c2340;
}

.menusflex ul {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menusflex.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 500px;
  height: 75px;
  background-image: url(../visuals/bottom-vector.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* HAMBURGER CSS ENDS */

/* ************************************************************************ */

/* HEADER STYLING */
.close-scroll-all {
  position: fixed;
}
#header {
  position: fixed;
  width: 100%;
  height: 140px;
  transition: 0.5s ease-in-out;
  z-index: 99;
}

.header-active {
  background-color: #0c2340;
  height: 110px !important;
}

.header-cta {
  gap: 16px;
}

.header-dealer-log-in {
  color: #fff;
  margin-right: 10px;
}

.header-cta .primary-btn:nth-child(3) {
  background: #d3d3d3;
  border: 1px solid #d3d3d3;
}

.header-cta .primary-btn:hover {
  color: #fff !important;
  border: 1px solid #fff !important;
}

.header-active .header-logo {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

.desktop-hidden-tab {
  display: none;
}

.desktop-hidden-images {
  display: none;
}

/* SEARCH BAR STYLING */
#search-toggle img {
  width: 20px;
  height: 20px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.search-input {
  height: 80px;
  outline: none;
  padding: 10px;
  margin-right: -25px;
  width: 400px;
  color: #696969;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  width: 97%;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #0c2340;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}

.show-search .search-input {
  bottom: -80px;
  opacity: 1;
  visibility: visible;
}

.header-active .search-input {
  width: 100%;
  padding: 20px;
}

.close-search {
  display: none;
}

.search-icon-choose .open-search {
  display: none;
}

.search-icon-choose .close-search {
  display: block;
}
.search-func {
  margin-right: 20px;
}

/* FOOTER STYLING */
#footer {
  position: relative;
  background: #0c2340;
  padding: 69px 0 90px;
}

.scroll-to-top img {
  width: 50px;
  height: 50px;
}

/* .scroll-to-top {
  gap: 10px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.84px;
  position: absolute;
  top: -60px;
  right: 50px;
} */

.scroll-to-top {
  gap: 10px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.84px;
  position: fixed;
  bottom: 30px !important;
  right: 30px !important;
  top: unset !important;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  padding: 20px 10px 10px;
  background-color: #0c2340;
  border-radius: 10px;
}

.show-scroll-top-btn {
  opacity: 1;
  visibility: visible;
}

.footer-logo img {
  width: 128px;
  height: 46px;
}

.bottom-footer span {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.socail-ul img {
  width: auto;
  height: 21px;
  display: block;
}

.footer-scoial-media {
  width: 100%;
  max-width: 12%;
}

.bottom-footer {
  gap: 40px;
  margin-top: 40px;
}

.socail-ul {
  gap: 25px;
  justify-content: flex-start;
}

.top-footer-left {
  width: 65%;
}

.top-footer-right {
  width: 30%;
}

.top-footer-child {
  width: 100%;
  max-width: 20%;
}

.top-footer-child:nth-child(2) {
  max-width: 20%;
}

.top-footer-child:nth-child(3) {
  max-width: 20%;
}

.top-footer-child:nth-child(4) {
  max-width: 30%;
}

.top-footer-right .top-footer-child {
  max-width: 100%;
  justify-content: flex-end;
  gap: 20px;
}

.top-footer-child a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
}

.footer-menu-heading {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.space-top-add {
  display: block;
  margin-top: 10px;
}

a.dealer-footer-link {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.top-footer-child .primary-btn {
  background: #b5b5b5;
  border: 1px solid #b5b5b5;
  color: #0c2340;
  font-size: 20px;
  font-weight: 700;
}

.top-footer-child .primary-btn:hover {
  color: #b5b5b5 !important;
}
.top-footer-child li a {
  font-weight: 700;
}
.footer-cta-links li a {
  font-weight: 400;
}

.socail-ul img:hover {
  filter: opacity(0.6);
}

/* HOME SECTIONS CSS */
.home-hero-section {
  position: relative;
  height: 720px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-first-sec-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.large-background-image {
  display: flex;
}

.extra-background-image,
.ipad-pro-background-image,
.mobile-ipad-background-image {
  display: none;
}

.bottom-vector-global {
  position: absolute;
  bottom: -3px;
  left: 0;
}

#footer .bottom-vector-global {
  top: -70px;
  bottom: auto;
}

.home-hero-heading {
  color: #0c2340;
}

.home-hero-heading .heading-piece:last-child {
  color: #fff;
}

.expertise-child {
  width: 100%;
  max-width: 48.7%;
}

.expertise-child h2 {
  color: #f2b941;
}

.expertise-child h2 span {
  font-style: normal;
}

.yellow-bar {
  width: 49%;
  height: 25px;
  background: #f2b941;
  margin-bottom: 69px;
}

.expertise-cta {
  gap: 15px;
}

.expertise-child .primary-btn:last-child {
  background: #b5b5b5;
  border: 1px solid #b5b5b5;
}

.home-only-visuals {
  position: relative;
  height: 600px;
  background-position: center;
  background-size: cover;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-partner-child {
  width: 100%;
  max-width: 50%;
  position: relative;
}

.home-partner-child:last-child {
  padding: 100px 50px 0;
}

.media-and-press-contact .home-partner-child {
  padding-top: 0;
}

.home-partner-child img {
  max-height: 951px;
  object-fit: cover;
}

.partner-swiper {
  height: 951px;
}

.expertise-chair-image {
  margin-bottom: 40px;
}

.home-partner-child .primary-btn {
  background: #0c2340;
  border: 1px solid #0c2340;
  color: #fff;
  margin: 32px auto 0;
}

.home-partner-child h2 span {
  font-style: normal;
}

.section-bar-partners {
  height: 25px;
  width: 100%;
  background: #0c2340;
  margin-bottom: 69px;
}

.home-blogs h2 {
  color: #5e7bab;
  margin-bottom: 69px;
}

.home-blogs h2 span {
  font-style: normal;
}

.home-blogs .yellow-bar {
  background: #5e7bab;
}

.home-blog-inner {
  row-gap: 50px;
}

.blog-post {
  width: 100%;
  max-width: 32%;
}

.blog-post a {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.blog-post img {
  height: 300px;
  object-fit: cover;
  transition: all 0.5s linear;
}

.blog-post:hover img {
  transform: scale(1.1);
}

.blog-post-main-perma img {
  object-fit: none !important;
}

.blog-post:hover .blog-post-main-perma img {
  transform: scale(1) !important;
}

.blog-posting-date {
  font-family: "Work Sans", sans-serif;
  color: #5e7bab;
  font-size: 22px;
  font-weight: 400;
  display: block;
  margin: 41px 0 9px;
}

.blog-post h3 {
  color: #5e7bab;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 700;
}

.blog-post-main-perma {
  color: #5e7bab;
  font-size: 20px;
}

.blog-post-main-perma img {
  width: 17px;
}

.blog-post-main-perma:hover img {
  margin-left: 3px;
}

.blog-post-main-perma {
  display: flex !important;
  gap: 8px;
  font-size: 16px;
}

.blog-post-main-perma img {
  width: 17px;
  height: 17px;
}

.home-blogs .primary-btn {
  margin: 90px auto 0;
  background-color: #5e7bab;
  border: 1px solid #5e7bab;
  color: #fff;
}

.bottom-vector-right {
  right: 0;
  left: auto;
}

.home-sustainability .section-bar-partners {
  background: #f2b941;
}

.home-sustainability h2 {
  color: #f2b941;
}

.home-sustainability .home-partner-child img {
  max-height: 745px;
}

.home-sustainability .primary-btn {
  background: #f2b941;
  border: 1px solid #f2b941;
  color: #0c2340;
  margin-top: 75px;
}

.home-partner {
  position: relative;
}

/* Contact Us Page Styling */
.global-banner .home-hero-heading {
  color: #fff;
  text-shadow: 1px 4px 7px rgba(0, 0, 0, 0.25);
}
.global-banner .heading-piece {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-weight: 400;
}
.inner-div-bar {
  width: 100%;
  margin-bottom: 69px;
}
.contact-form-main-sec .expertise-child:first-child {
  padding: 0 50px;
}
.contact-form-main-sec .expertise-child img {
  height: 704px;
  object-fit: cover;
}
.contact-main-form-div {
  margin-top: 14px;
}
.form-label-contact {
  color: #5e7bab;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.input-field-contact,
.input-textarea-contact {
  background: rgb(181 181 181 / 20%);
  outline: none;
  border: none;
  height: 50px;
  margin-bottom: 14px;
  width: 100%;
  padding: 0 14px;
  color: #696969;
  font-size: 16px;
  font-style: italic;
}

.input-textarea-contact {
  height: 125px;
  padding: 14px;
}

.form-label-checkbox {
  position: relative;
  color: #696969;
  font-size: 22px;
  cursor: pointer;
  width: 100%;
  display: flex;
}
#agreement-click {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-right: 26px;
}
.form-field-contact .primary-btn {
  margin-top: 84px;
  background: #0c2340 !important;
  border: 1px solid #0c2340 !important;
  color: #fff;
  cursor: pointer;
}
.form-field-contact .primary-btn:hover {
  background-color: transparent !important;
  color: #0c2340 !important;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  border: 1px solid #0c2340;
}

/* On mouse-over, add a grey background color */
/* .form-label-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
} */
/* When the checkbox is checked, add a blue background */
#agreement-click:checked ~ .checkmark {
  background-color: #0c2340;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
#agreement-click:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
}

.media-and-press-link img {
  width: 27px !important;
  height: 17px !important;
}
.press-and-media-main-data {
  height: 357px;
}
.media-and-press-link {
  color: #696969;
  font-size: 22px;
  font-weight: 400;
  text-decoration: underline !important;
  gap: 14px;
}

/* Innovation Page Styling */
.innovation-main-sec .expertise-child:first-child {
  padding: 0 50px;
}
.innovation-main-sec .expertise-child img {
  height: 500px;
  object-fit: cover;
}
.innovate-feature-child-icon {
  height: 144px;
  width: 100%;
  max-height: 144px;
  min-height: 144px;
  min-width: auto;
  max-width: 260px;
  margin: auto;
  display: block;
}
.innovate-feature-child-text {
  margin-top: 40px;
}
.innovation-features-child {
  width: 100%;
  max-width: 30%;
}
.innovate-form-sec .expertise-child img {
  height: 918px;
}

.innovate-form-sec .yellow-bar {
  background: #0c2340;
}
.innovate-form-sec .expertise-child h2 {
  color: #0c2340;
}
.innovate-form-sec.section-padding {
  padding-bottom: 100px;
}
section.innovation-features {
  padding-top: 0;
}

/* Product Page Styling */
.product-hero-section {
  padding: 208px 0 88px;
}
.prodcut-hero-heading {
  color: #f2b941;
  font-style: normal;
}
.product-main-sec {
  /* padding-bottom: 100px; */
  padding-bottom: 62px;
}
.product-main-child {
  width: 100%;
  max-width: 31%;
}
.product-thumbnail {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.5s linear;
}
.product-title-text {
  color: #5e7bab;
  margin-top: 21px;
  display: block;
  font-size: 22px;
  font-weight: 700;
}
.loader-div {
  margin-top: 52px;
}
.loader-div .primary-btn {
  background: #5e7bab;
  border: 1px solid #5e7bab;
  color: #fff;
}
.shop-back-all-icon {
  width: 17.58px;
  height: 35.16px;
}
.shop-back-all {
  color: #f2b941;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 10px;
}

/* White BG Header Adjustment */
.white-bg-adjust #search-toggle img {
  filter: invert(1);
}
.white-bg-adjust .header-active #search-toggle img {
  filter: none;
}
.white-bg-adjust .header-dealer-log-in {
  color: #0c2340;
}
.white-bg-adjust .header-active .header-dealer-log-in {
  color: #fff;
}
.white-bg-adjust .header-hamburger-text {
  color: #0c2340;
}
.white-bg-adjust .header-active .header-hamburger-text {
  color: #fff;
}
.white-bg-adjust .header-cta .primary-btn:hover {
  color: #0c2340 !important;
  border: 1px solid #0c2340 !important;
}
.white-bg-adjust .header-active .header-cta .primary-btn:hover {
  color: #fff !important;
  border: 1px solid #fff !important;
}

/* Partners Slider Styling */
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}
.swiper-button-prev {
  bottom: -15px !important;
  top: unset;
  right: -40px !important;
  left: unset !important;
}
.swiper-button-next {
  bottom: 50px !important;
  top: unset;
  left: unset !important;
  right: -40px !important;
}
.nav-icons-slider img {
  width: auto;
  height: 20px;
}

/* FAQs Styling */
.product-faqs {
  padding: 0 0 161px;
}
.product-faqs .prodcut-hero-heading {
  margin-bottom: 80px;
}
.faq-parent-container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.accordion-header {
  background-color: transparent;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
  color: #696969;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  height: 120px;
}
.accordion-item {
  /* border: 1px solid #696969; */
  border: 1px solid #000;
  border-right: none;
  border-left: none;
  border-bottom: none;
}
.accordion-item:last-child {
  border-bottom: 1px solid #696969;
}
.accordion-content {
  overflow: hidden;
  max-height: 0;
  padding: 0 10px;
  transition: max-height 0.3s ease;
}
.accordion-content p {
  margin: 15px 0;
  line-height: 1.5;
}
.accord-icon {
  /* width: 23%; */
  width: 15%;
  justify-content: flex-end;
}
.accord-icon img {
  width: 35px;
  height: 70px;
  transition: transform 0.3s ease;
}
.active-accord .accord-icon img{
  transform: rotate(45deg);
}
.desktop-arrow-image {
  display: block;
}
.mobile-arrow-image {
  display: none;
}
.form-field-contact input::-webkit-outer-spin-button,
.form-field-contact input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.form-field-contact input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.checkmark::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 4px;
  background: transparent;
  border-color: #fff;
  inset: 0;
  z-index: 9;
  border-width: 0px 0px 2px 2px;
  border-style: solid;
  transform: rotate(-45deg);
  top: 1px;
  left: 1px;
  opacity: 0;
}
#agreement-click:checked ~ .checkmark::before {
  opacity: 1;
}
/* clears the ‘X’ from Internet Explorer */
.search-box input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
.search-box input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
.search-box input[type="search"]::-webkit-search-decoration,
.search-box input[type="search"]::-webkit-search-cancel-button,
.search-box input[type="search"]::-webkit-search-results-button,
.search-box input[type="search"]::-webkit-search-results-decoration { display: none; }

.about-innovation .about-innovation-child img {
  max-height: 788px;
}

.about-innovation-child:last-child {
  padding: 0 50px 0 50px;
}
.about-innovation-child h2 span {
  display: inline;
}
.about-video-main {
  position: relative;
}
.about-video-trian {
  position: absolute;
  bottom: -4px;
  right: 0;
}
.about-video-trian img {
  display: block;
}
.about-video-main video {
  height: 100%;
  max-height: 600px;
  width: 100%;
  object-fit: cover;
  display: block;
}
.about-dedicated-child p span {
  color: #0C2340;
}
.about-dedicated-child:last-child {
  padding: 0px 100px 0px 50px;
}
.relation-mission-container {
  padding: 80px 0px 0px;
}

.relation-single h2 {
  font-family: 'Work Sans';
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.92px;
  font-weight: 700;
}

.relation-single {
  width: 31.4%;
}

.relation-single p {
  margin: 15px 0px 0px;
  line-height: normal;
}
.about-team-bg {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-team-image {
  position: relative;
}

.about-vec {
  position: absolute;
  left: 0;
  bottom: -3px;
}

.about-vec img {
  display: block;
}
.about-rest-child:last-child {
  padding: 0 100px 0px 50px;
}

.about-rest-child .section-bar-partners {
  background-color: #5E7BAB;
}

.about-rest-child h2 {
  color: #5E7BAB;
}

.about-leading-child .section-bar-partners {
  background-color: #F2B941;
}

.about-leading-child  h2 {
  color: #F2B941;
}
.about-backed-section {
  padding: 0 0 62px;
}

.about-backed-main {
  max-width: 1000px;
  margin: auto;
}

.about-backed-content h3 {
  font-family: 'Playfair Display';
  color: #696969;
  font-weight: 400;
  line-height: normal;
}

.about-backed-content p {
  font-weight: 700;
  line-height: normal;
  margin: 22px 0px 0px; 
}

.about-backed-link {
  margin: 67px 0px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.explore-products .explore-products-child img {
  max-height: 500px;
}
.explore-products-rows {
  margin: 61px 0px 0px;
}

.explore-products-row:not(:last-child) {
  margin-bottom: 62px;
}

.explore-product-left {
  width: 48%;
}

.explore-product-right {
  width: 50%;
}

.explore-products-row:nth-child(odd) .explore-products-flex {
  flex-direction: row-reverse;
}

.explore-products-row:nth-child(odd) .explore-product-right {
  width: 47%;
}

.explore-products-row:nth-child(odd) .explore-product-left {
  width: 50%;
}

.explore-product-right img {
  min-height: 500px;
  max-height: 500px;
  object-fit: cover;
}

.explore-product-left .primary-btn {
  margin: 75px auto 0px;
}
.explore-product-left h2 {
  font-style: normal;
}
.divider-section-image {
  position: relative;
}

.divider-section {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.divider-vec {
  position: absolute;
  right: 0;
  bottom: -3px;
}

.browse-catalog-child .primary-btn {
  margin: 50px auto 0px;
  background-color: #5E7BAB;
  border-color: #5E7BAB;
  padding: 0 50px;
}
.browse-catalog {
  padding: 0px 0px 100px;
}
.relation-single-list li p {
  margin: 0px;
}

.relation-single-list {
  margin: 20px 0px 0px;
}

.relation-single-list li {
  position: relative;
  padding: 0 0 0 25px;
}

.relation-single-list li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 10px;
  left: 8px;
  background-color: #696969;
  border-radius: 50%;
}
.icon-details-icon img {
  width: auto;
  margin: auto;
  display: block;
  height: auto;
}

.icon-details-icon {
  margin: 0 0 43px;
  height: 170px;
}

.icon-details-single {
  width: 31.4%;
}

.icon-details-info h5 {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Work Sans';
  color: #5E7BAB;
}

.icon-details-info p {
  margin: 0px;
}

.icon-details-section {
  position: relative;
  padding: 0 0 60px;
}
.community-giving-child .section-bar-partners {
  background-color: #5E7BAB;
}

.community-giving-child h2 {
  color: #5E7BAB;
}
.sustainable-future-child .section-bar-partners {
  background-color: #F2B941;
}
.sustainable-future-child h2 {
  color: #F2B941;
}
.sustainability-values-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 45px;
}

.sustainability-values-single {
  width: 30%;
}

.sustainability-values-single-content {
  max-width: 413px;
  max-height: 413px;
  border-radius: 50%;
  overflow: hidden;
  height: 413px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: relative;
}

.reducing-content {
  background-color: rgba(94, 123, 171, .75);
}

.maintaining-content {
  background-color: rgba(94, 123, 171, .3);
}

.recycling-content {
  background-color: #5E7BAB;
}

.meeting-content {
  background-color: rgba(94, 123, 171, .3);
}

.increasing-content {
  background-color: rgba(94, 123, 171, .6);
}

.carbon-content {
  background-color: rgba(94, 123, 171, .3);
}

.reducing-content p {
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  max-width: 90%;
  margin: 0;
}

.reducing-content h2 {
  font-size: 132px;
  line-height: normal;
  font-weight: 700;
  font-family: 'Work Sans';
  font-style: normal;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  color: transparent;
}

.leaf-image {
  position: absolute;
  opacity: .4;
  max-width: 326px;
}

.maintaining-content h3 {
  letter-spacing: -0.49px;
  line-height: 49px;
  font-family: 'Work Sans';
  font-weight: 800;
  font-size: 49px;
  color: #5E7BAB;
}

.recycle-image img {
  max-width: 91px;
}

.recycling-content h3 {font-weight: 800;letter-spacing: -0.64px;line-height: 46px;font-size: 64px;font-family: 'Work Sans';-webkit-text-stroke: 1px #fff;text-stroke: 1px #fff;color: transparent;font-style: normal;}

.recycling-content p {
  line-height: 36px; /* 124.138% */
  letter-spacing: 1.74px;
  color: #fff;
  font-size: 29px;
  font-weight: 400;
}

.sustainability-values-section {
  padding: 0 0 159px;
}

.meeting-content h6 {
  font-size: 24px;
  color: #5E7BAB;
  font-family: 'Work Sans';
  max-width: 60%;
  line-height: normal;
}

.meeting-content h2 {
  font-size: 132px;
  font-family: 'Work Sans';
  font-weight: 700;
  font-style: normal;
  letter-spacing: -6.6px;
  -webkit-text-stroke: 1px #5E7BAB;
  text-stroke: 1px #5E7BAB;
  color: transparent;
}

.upward-arrows img {
  max-width: 144px;
}

.meeting-content::after {
  position: absolute;
  content: "";
  border: 2px solid #5E7BAB;
  opacity: 0.3;
  background: transparent;
  inset: 0;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  margin: auto;
}

.increasing-content p {
  color: #5E7BAB;
  margin: 0px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.increasing-content h3 {
   /* 38.333% */
   letter-spacing: -1.2px;
   font-size: 120px;
   font-weight: 700;
   font-family: 'Work Sans';
   color: #5E7BAB;
   line-height: 100px;
}

.carbon-content p {
  font-size: 29px;
  line-height: 36px; /* 124.138% */
  letter-spacing: 1.74px;
  color: #5E7BAB;
  max-width: 90%;
  margin: 0px;
}

.carbon-content h5 {
  font-size: 39px;
  font-family: 'Work Sans';
  line-height: 40px;
  letter-spacing: 2.34px;
  color: #5E7BAB;
  font-weight: 900;
}

.down-arrow img {
  max-width: 138px;
}

.down-arrow {
  margin: 20px 0px 0px;
}
.featured-blog-section {
  padding: 245px 0px 62px;
}
.featured-blog-content .featured-blog-heading h3 {
  color: #F2B941;
  text-transform: capitalize;
  line-height: normal;
  font-weight: 400;
  margin: 0px;
}

.featured-blog-heading {
  margin: 0 0 78px;
}

.featured-blog-content p {
  color: #5E7BAB;
  line-height: normal;
  margin: 0px;
}

.featured-blog-content h3 {
  color: #5E7BAB;
  font-weight: 700;
  margin: 15px 0px 0px;
}

.featured-blog-content .primary-btn {
  margin: 120px auto 0px;
}

.featured-blog-bar {
  margin: 65px 0px 0px;
  background-color: #F2B941;
  width: 100%;
  height: 25px;
}

.blogs-grid-head h2 {
  color: #5E7BAB;
}

.blogs-grid-head h2 span {
  font-style: normal;
}

.blogs-grid-head {
  margin: 0 0 62px;
}

.blog-single-card {
  width: 22.7%;
}

.blog-single-image {
  height: 300px;
  background-color: #B5B5B5;
}

.blog-single-image img {max-height: 300px;}

.blog-single-content {
  padding: 20px 0px 0px;
}

.blog-single-content span {
  color: #5E7BAB;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Work Sans';
}

.blog-single-content p {
  font-weight: 700;
  color: #5E7BAB;
  line-height: normal;
  margin: 10px 0px 15px;
}

.blog-single-content a {
  font-weight: 700;
  color: #5E7BAB;
  display: flex;
  gap: 10px;
  transition: .4s ease-in-out;
}

.blogs-grid-flex {
  row-gap: 70px;
}

.blogs-grid-section {
  padding: 30px 0px 120px;
}

.blog-view-more {
  text-align: center;
  margin: 48px auto 0px;
}

.blog-view-more a {
  margin: auto;
  background: #5E7BAB;
  border-color: #5E7BAB;
  color: #fff;
  letter-spacing: 0.4px;
  font-weight: 700;
}
.featured-blog-left {
  width: 48.4%;
}

.featured-blog-right {
  width: 48.6%;
}
.featured-blog-image img {
  min-height: 470px;
  max-height: 470px;
  object-fit: cover;
}
.blog-single-content span svg {
  margin: 0 0 -4px;
}
.blog-detail-section {
  padding: 211px 0px 0px;
}

.blog-detail-main {
  max-width: 1000px;
  margin: auto;
}

.blog-detail-head span {
  font-size: 22px;
  color: #5E7BAB;
}
.blog-detail-head h3 {
  font-weight: 700;
  color: #5E7BAB;
  margin: 10px 0px 0px;
}

.blog-detail-image {
  margin: 30px 0px 0px;
}

.blog-detail-content p:not(:last-child) {
  margin-bottom: 20px;
}

.blog-share-list {
  margin: 60px 0px 0px;
}

.blog-share-list ul li a img {
  max-width: 27px;
}

.blog-share-list ul {
  display: flex;
  gap: 45px;
}
.blog-detail-bar {
  margin: 55px 0px 0px;
  height: 25px;
  background-color: #F2B941;
}
.swiper-slide .blog-single-card {
  width: 100%;
}
.more-blogs-section {
  padding: 50px 0px 120px;
}
.privacy-service-section {
  padding: 210px 0px 120px;
}

.privacy-service-main {
  max-width: 1000px;
  margin: auto;
}

.privacy-service-main h3 {
  color: #5E7BAB;
  font-weight: 700;
}

.privacy-service-main h3:first-child {
  margin: 0 0 40px;
}

.privacy-service-main p {
  margin: 0px 0px 30px;
}
.privacy-service-main ul li {
  position: relative;
  padding: 0 0 0 25px;
  color: #696969;
  font-size: 22px;
  line-height: normal;
}

.privacy-service-main ul li::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #696969;
  left: 6px;
  border-radius: 50px;
  top: 6px;
}
.media-and-press-contact .home-partner-child:last-child {
  padding: 0 50px 0px 0px;
}
.privacy-service-main p a {
  font: inherit;
  color: inherit;
}
.productMainSection {
    padding: 208px 0 116px !important;
}


.product__title h1 {
    color: #5E7BAB;
    font-size: 32px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-style: normal;
}

.price-container {
    margin: 0 0 28px!important;
}

.price-item {
    font-size: 32px;
    color: #F2B941;
}

.product__title {
    margin-bottom: 76px !important;
}

.price-container .price__container {
    margin: 0px;
}

.product__info-wrapper {
    max-width: 43.2%!important;
    width: 100%!important;
    padding: 0 !important;
}

.product.grid {
    justify-content: space-between;
}

.product__media {
    padding: 0px !important;
}

.product__media img {
    height: 604px !important;
    min-height: auto;
    position: relative !important;
}
.product-form__input--dropdown {
    display: flex;
    align-items: center;
    gap: 43px;
}

.product-form__input .form__label {
    color: #5E7BAB;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Work Sans';
    margin: 0px !important;
    min-width: 100px;
}

.product-form__input .select__select {
    background: var(--White, #FFF);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    border: 0px !important;
    outline: none !important;
    padding: 0 12px;
    color: #696969 !important;
    font-family: Work Sans;
    font-size: 14px;
    min-height: 40px !important;
    height: 40px !important;
}

.product-form__input .select::before, .product-form__input .select::after {
    display: none;
}

.product-form__input .select svg path {
    fill: #F2B941 !important;
}

.product-form__input .select {
    max-width: 275px;
}

div#Quantity-Form-template--15473194139759__main {}

.product-form__quantity {
    display: flex;
    gap: 43px;
    align-items: center;
}

.price-per-item__container .quantity::after, .price-per-item__container .quantity::before {
    display: none;
}

.price-per-item__container .quantity {
    background: var(--White, #FFF);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    width: 40px !important;
    height: 40px !important;
    min-height: auto !important;
}

.price-per-item__container .quantity .quantity__button {
    display: none;
}

.price-per-item__container .quantity .quantity__input {font-size: 14px !important;color: #696969 !important;font-family: 'Work Sans';}

.product-sm-items {
    display: flex;
    gap: 60px;
}

.product-social-media {
    margin: 35px 0px !important;
}

.product-form__buttons {
    max-width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0 40px 0px 0px;
}

.product-form__submit {
    width: 240px;
    height: 80px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: #0c2340;
    background: #f2b941;
    border: 1px solid #f2b941;
    transition: all 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0px 15px 0px 0px !important;
}

.product-form__submit::before, .product-form__submit::after {
    display: none;
}

.product-form__submit:hover {
    background-color: transparent !important;
    color: #0c2340 !important;
}

.shopify-payment-button__button {
    width: 240px;
    height: 80px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: #0c2340;
    background: #B5B5B5;
    border: 1px solid #B5B5B5;
    transition: all .2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 50px!important;
    font-size: 0px !important;
    background-color: #B5B5B5 !important;
}

.shopify-payment-button__button::before {
    display: none;
}

.shopify-payment-button__button::after {
    content: "Choose Shipping Label";
    font-size: 20px;
    color: #0C2340;
    border: 0px !important;
    box-shadow: none !important;
    display: flex;
    align-items: center;
    letter-spacing: 0px;
    padding: 0 35px;
}
.product--right .product__media-list {
    margin: 0px !important;
}

.thumbnail-list {
    padding: 0!important;
    margin: 0 !important;
    scroll-padding-left: 20px !important;
}

.thumbnail img {
    height: 80px !important;
    object-fit: cover;
}

.thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
    width: calc(26% - .8rem);
    height: 80px !important;
    margin: 0 12px !important;
}

.thumbnail {
    height: 80px !important;
}

.product--thumbnail_slider .thumbnail-slider {
    max-width: 710px;
    margin: 32px auto 65px;
}
.product .tab-button {
    background-color: transparent;
    border: 0px;
    color: #5E7BAB;
    font-family: Work Sans;
    font-size: 22px;
    text-align: left;
}

.product .tab-buttons {
    border-bottom: 2px solid #0C2340;
}

.product .tab-button:nth-child(2) {
    text-align: center;
}

.product .tab-button:nth-child(3) {
    text-align: right;
}

.product .tab-button.active-tab-button {
    font-weight: 700;
}

.product .tab-content {
    padding: 40px 0px;
}

.product .tab-content h4 {
    color: #5E7BAB;
    font-family: 'Work Sans';
    font-weight: 700;
}

.product .tab-content p, .product .tab-content ul li {
    margin: 0px;
    color: #696969;
    font-size: 22px;
    margin-bottom: 15px;
}

.product .tab-content ul li {
    padding: 0 0 0 30px;
    margin: 0px 0 5px;
    position: relative;
}

.product .tab-content ul li::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #696969;
    left: 8px;
    top: 11px;
    border-radius: 50%;
}
.product-additional-info {
    padding: 40px 0px 0px;
}

.comfort-scale-left p {
    color: #5e7bab;
    font-size: 22px;
    font-weight: 700;
    font-family: Work Sans;
    margin: 0!important;
    min-width: 100px;
}

.comfort-scale {
    display: flex;
    gap: 20px;
}

.comfort-scale-right-flex {
    display: flex;
    gap: 10px;
}

.comfort-scale-right-box {
    position: relative;
    width: 40px;
    height: 20px;
}

.comfort-scale-right-box label {
    position: absolute;
    top: -30px;
    min-width: max-content;
    font-size: 14px;
    font-family: 'Work Sans';
    font-weight: 400;
    text-transform: uppercase;
    display: none;
    left: -34px;
    right: 0;
}

.comfort-scale-right-box input {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.comfort-scale-right-box input:checked + label {
    display: block;
}

.comfort-scale-right-box label::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 7px;
    background-image: url(https://cdn.shopify.com/s/files/1/0558/3513/2015/files/arrow-small-down.svg?v=1704143511);
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sleeper-type {
    margin: 33px 0px 0px;
}

.sleeper-type p {color: #5E7BAB;font-size: 22px;min-width: 100px;margin: 0px;font-weight: 700;}

.sleeper-type ul li {
    color: #696969;
    font-size: 22px;
    font-family: 'Work Sans';
}

.product-info-image img {
    max-width: 640px;
    margin-left: auto;
    display: block;
}

.product-specs-list {
    max-width: 640px;
    margin-left: auto;
}

.product-specs-list-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-spec-single {
    width: 29%;
}

.product-spec-single img {
    width: 100%;
}